paths:
  raw_dir: "data/02-preprocessed" # Tempat DataCo_Enriched_Master.csv berada
  features_dir: "data/03-features"
  model_dir: "models"
  
data:
  main_csv: "DataCo_Enriched_Master.csv"
  train_ready_parquet: "train_ready.parquet"
  metadata_parquet: "order_metadata.parquet"

schema:
  target: "is_late"
  date_col: "order date (DateOrders)"
  
  # Kolom yang WAJIB dibuang (Leakage/Noise)
  drop_cols:
    - "Days for shipping (real)"
    - "delivery_gap"
    - "Delivery Status"
    - "Late_delivery_risk"
    - "shipping date (DateOrders)"
    - "Order Status"
    - "Benefit per order"
    - "Order Item Profit Ratio"
    - "Order Profit Per Order"
    - "Sales per customer"
    - "Order Item Total"
    - "Order CardId"
    - "Order Customer Id"
    - "Order Id"
    - "Order Item Id"
    - "Category Id"
    - "Department Id"
    - "Order Item Cardprod Id"
    - "Product Category Id"
    - "Product Card Id"
    - "Product Image"
    - "Original_Year"

feature_engineering:
  warehouse_lat: 18.2208
  warehouse_lon: -66.5901
  lat_col: "Latitude"
  lon_col: "Longitude"
  
training:
  random_seed: 42
  test_size: 0.2
  n_trials: 20
  n_jobs: 1          # PENTING: Set 1 untuk Mac
  metric: "f1_macro"